<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSON Extractor</title>
    <link rel="stylesheet" href="/css/terminal.css" />
</head>
<body>
    <div class="textarea">
        <h1>Hello guys, here the JSON response will be taken</h1>
        <br />
        <div class="btn">
            <form id="jsonForm">
                <textarea id="text-area" name="userInput" rows="6">Some text...</textarea>
                <br />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <script src="/js/terminal.js" defer></script>
</body>
</html>
