<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/terminal.css" />
  </head>
  <body>
    <div class="textarea">
      <h1>hello guys here the json response will be taken</h1>
      <br />
      <div class="btn">
        <form id="jsonForm">
          <textarea id="text-area" name="message">Some text...</textarea> <!-- Added name attribute -->
          <br />
          <button class="btn-input" type="submit">Click here to submit JSON response</button>
      </form>
      
      </div>
    </div>

    <script src="/js/terminal.js" defer></script>
  </body>
</html>
